.views_totem {
  padding: 0 40px 0 0; /*LTR*/
}

.views_totem #ticker-next {
  left: auto; /*LTR*/
  right: 10px; /*LTR*/
  background-position: 0 0; /*LTR*/
}

.views_totem #ticker-next:hover {
  background-position: 0 -18px; /*LTR*/
}

.views_totem #ticker-previous {
  left: auto; /*LTR*/
  right: 0; /*LTR*/
  background-position: -18px 0; /*LTR*/
}

.views_totem #ticker-previous:hover {
  background-position: -18px -18px; /*LTR*/
}
