.views_totem {
  padding: 0 0 0 40px; /*LTR*/
  position: relative;
}

.views_totem #ticker-next,
.views_totem #ticker-previous {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.views_totem #ticker-next {
  left: 10px; /*LTR*/
  background-position: -18px 0; /*LTR*/
}

.views_totem #ticker-next:hover {
  background-position: -18px -18px; /*LTR*/
}

.views_totem #ticker-previous {
  left: 0; /*LTR*/
  background-position: 0 0; /*LTR*/
}

.views_totem #ticker-previous:hover {
  background-position: 0 -18px; /*LTR*/
}

.views_totem ul.item-list {
  height:25px;
  overflow:hidden;
  margin:0;
  padding:0;
  list-style: none;
}

.views_totem ul.item-list li {
  padding:0 20px;
  display:block;
  height: 25px;
  line-height: 25px;
}